<h1>Tasks</h1>
<table id="task_list">
  <thead>
    <tr>
      <th class="tasks_header"></th>
    </tr>
  </thead>
  <tbody>
    <tr class="task_line">
      <td class="task_property"></td>
    </tr>
  </tbody>
</table>
