<h1><%= @task.name %></h1>
<!-- TODO: 辞書使おう！ -->
<p>Deadline:
<%= @task.due_time.presence || "No deadline" %>
</p>
<pre><%= @task.description.presence || "No description" %></pre>
<p><%= link_to 'Back', :back %></p>
