<div class="error">
Sorry, the operation you requested is prohibited so far.<br />
This page is just a demo.
It is only <a href="https://plus.google.com/u/0/108459635886859360319/about">the author</a> who is allowed to update tasks.
</div>
<%= link_to 'Back', flash[:back_path] %>
